{% extends 'base.html' %}
{% load bootstrap5 %}

{% block head %}

<script
src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAP_API_KEY }}&callback=initMap&v=weekly"
async
></script>
<style>


  #tabs a {
    color: black;
  }

  #tabs a:hover {
    color: rgb(0, 255, 21);
    text-decoration: none;
  }

  #pills-tab a.active {
    color: orange;
  }

  #pickup-map,
  #delivery-map {
    height: 100%;
  }

  #pickup-map{
    height: 100%;
  }
</style>


{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
      <!-- LEFT SIDE -->
      <div class="col-lg-4">
        <div class="card">
          <div class="card-header">
            JOB SUMMARY
          </div>

          <div class="card-body">
            {% if not job %}
            <p>A summary of your job information will appear here</p>
            {% else %}

            {% if step > 1 %}
            <p class="text-secondary"><small>Item information</small></p>
            <h4>Item: {{job.name}}</h4>
            <span>{{ job.quantity }} Item</span><br/>
            <span>{{ job.get_size_display }} Job</span>
            {% endif %}


            {% if step > 2 %}
            <hr/>
            <p class="text-secondary"><small>PICKUP</small></p>
            <h4> {{job.pickup_name}}</h4>
            <span>{{ job.pickup_address}} Item</span><br/>
            {% endif %}

            {% endif %}

            {% if step > 3 %}
            <hr/>
            <p class="text-secondary"><small>Delivery</small></p>
            <h4> {{job.delivery_name}}</h4>
            <span>{{ job.delivery_address}} Item</span><br/>
            {% endif %}

          

            </div>
            </div>
        </div>
        <!-- RIGHT SIDE -->
        <div class="col-lg-8">

            <!-- Steps tabs -->
            <div class="card mb-5">
              <div class="card-body">
                <ul class="nav nav-tabs nav-justified align-center  " id="myTab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class=" {% if step == 1 %} show active {% endif %}" id="home-info-tab" data-bs-toggle="tab" data-bs-target="#home-info"  role="tab" aria-controls="home-info" aria-selected="true">Item info</button>
                  </li>
                  <i class="fas fa-chevron-right"></i>
                  <li class="nav-item" role="presentation">
                    <button  class=" {% if step == 2 %}active {% endif %}" id="pickup-tab" data-bs-toggle="tab" data-bs-target="#pickup" type="button" role="tab" aria-controls="pickup" aria-selected="false">Pickup</button>
                  </li>
                  <i class="fas fa-chevron-right"></i>
                  <li class="nav-item" role="presentation">
                    <button  class=" {% if step == 3 %}active {% endif %}" id="delivery-tab" data-bs-toggle="tab" data-bs-target="#delivery" type="button" role="tab" aria-controls="delivery" aria-selected="false">Delivery</button>
                  </li>
                  <i class="fas fa-chevron-right"></i>
                  <li class="nav-item" role="presentation">
                    <button  class=" {% if step == 4 %}active {% endif %}" id="payment-tab" data-bs-toggle="tab" data-bs-target="#payment" type="button" role="tab" aria-controls="payment" aria-selected="false">Payment</button>
                  </li>
                </ul>
      
                  </div>
                </div>
                <!-- Steps forms -->
                <b>CEATE A JOB</b>
                <div class="tab-content" id="myTabContent">

                 <!-- Steps 1 -->
                  <div class="tab-pane fade {% if step == 1 %}show active {% endif %}" id="home-info" role="tabpanel" aria-labelledby="home-info-tab" >
                    <h1>Item info</h1>

                    <form method="POST" enctype="multipart/form-data">
                      <b class="text-secondary">Item information</b><br/>
                      <div class="card bg-white mt-2 mb-5">
                        <div class="card-body">
                          {% csrf_token %}
                          {% bootstrap_form step1_form  %}
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                              Fragile
                            </label>
                          </div>
                        </div>
                      </div>
                      <input type="hidden" name=step value="1">
                      <button type="submit" class="btn btn-dark">Save&continue</button>
                    </form>
                  </div>

                  <!-- Steps 2 -->

                  <div class="tab-pane fade  {% if step == 2 %}show active {% endif %}" id="pickup" role="tabpanel" aria-labelledby="pickup-tab">
                    <h1>Pickup</h1>

                    <form method="POST" enctype="multipart/form-data">
                      <b class="text-secondary">pickup information</b><br/>
                      <div class="card bg-white mt-2 mb-5">
                        <div class="card-body">

                          <div class ="row">
                            <div class="col-lg-8">
                              {% csrf_token %}
                              {% bootstrap_form step2_form  %}
                              <input  name="pickup_lat" value="{{ job.pickup_lat }}">
                              <input  name="pickup_lng" value="{{ job.pickup_lng }}">
                            </div>
                            <div class="col-lg-4">
                              <div id="pickup-map"></div>
                              <div id="pickup-infowindow-content">
                                <img src="" width="16" height="16" id="pickup-place-icon" />
                                <span id="pickup-place-name" class="title"></span><br />
                                <span id="pickup-place-address"></span>
                              </div>
                            </div>
                          </div>
                        
                        </div>
                      </div>
                      <input type="hidden" name=step value="2">
                      <button type="button" class="btn btn-outline-dark"
                        onclick="$('#home-info-tab').tab('show');">Back</button>
                      <button type="submit" class="btn btn-dark   ">Save&continue</button>
                    </form>

                  <!-- Steps 3 -->
                  </div>
                  <div class="tab-pane fade  {% if step == 3 %}show active {% endif %} " id="delivery" role="tabpanel" aria-labelledby="delivery-tab">
                    <h1>Delivery</h1>

                    <form method="POST" enctype="multipart/form-data">
                      <b class="text-secondary">delivery information</b><br/>
                      <div class="card bg-white mt-2 mb-5">
                        <div class="card-body">

                          <div class ="row">
                            <div class="col-lg-8">
                              {% csrf_token %}
                              {% bootstrap_form step3_form  %}
                              <input  name="delivery_lat" value="{{ job.delivery_lat }}">
                              <input  name="delivery_lng" value="{{ job.delivery_lng }}">
                            </div>
                            <div class="col-lg-4">
                              <div id="delivery-map"></div>
                              <div id="delivery-infowindow-content">
                                <img src="" width="16" height="16" id="delivery-place-icon" />
                                <span id="delivery-place-name" class="title"></span><br />
                                <span id="delivery-place-address"></span>
                              </div>
                            </div>
                          </div>
                        
                        </div>
                      </div>
                      <input type="hidden" name=step value="3">
                      <button type="button" class="btn btn-outline-dark"
                        onclick="$('#home-info-tab').tab('show');">Back</button>
                      <button type="submit" class="btn btn-dark">Save&continue</button>
                    </form>


                  </div>

                   <!-- Steps 4 -->
                  <div class="tab-pane fade nav link {% if step == 4 %}show active {% endif %} " id="payment" role="tabpanel" aria-labelledby="payment-tab" aria-current="page" >
                    <h1>payment</h1>
                    <form method="POST">
                      <b class="text-secondary">Payment Method</b>
                      <div class="card bg-white mt-2 mb-5">
                        <div class="card-body">
                          {% csrf_token %}
                          <div class="form-group">
                            <label>Your Credit/Debit Card</label>
                            <input class="form-control" value="**** **** **** {{ request.user.customer.stripe_card_last4 }}"
                              disabled>
                          </div>
                          <div class="form-group">
                            <label>Price</label>
                            <input class="form-control" value="Rs{{ job.price }}" disabled>
                          </div>
                        </div>
                      </div>
                      <input type="hidden" name="step" value="4">
                      <button type="button" class="btn btn-outline-warning"
                        onclick="$('#pills-delivery-tab').tab('show');">Back</button>
                      <button type="submit" class="btn btn-warning">Create Job</button>
                    </form>


                    </form>
                  </div>
                </div>
        </div>
       </div>
       
       
       </div>

   <script>

  var pickupLat = parseFloat(" {{ job.pickup_lat }} ");
  var pickupLng = parseFloat(" {{ job.pickup_lng }} ");

  var deliveryLat = parseFloat("{{ job.delivery_lat }}");
  var deliveryLng = parseFloat("{{ job.delivery_lng }}");


function initMapByType(type, initLat, initLng) {
  const map = new google.maps.Map(document.getElementById(type + "-map"), {
    center: { lat: initLat || 40.749933, lng: initLng || -73.98633 },
    zoom: 13,
    mapTypeControl: false,
  });

  if (initLat && initLng){
    new google.maps.Marker({
      position:new google.maps.LatLng(initLat,initLng),
      map: map,

    })

  }

  const input = document.getElementById("id_"+ type  +"_address");

  const biasInputElement = document.getElementById("use-location-bias");
  const strictBoundsInputElement = document.getElementById("use-strict-bounds");
  const options = {
    fields: ["formatted_address", "geometry", "name"],
    strictBounds: false,
    types: ["establishment"],
  };

  map.controls[google.maps.ControlPosition.TOP_LEFT].push(card);

  const autocomplete = new google.maps.places.Autocomplete(input, options);

  // Bind the map's bounds (viewport) property to the autocomplete object,
  // so that the autocomplete requests use the current map bounds for the
  // bounds option in the request.
  autocomplete.bindTo("bounds", map);

  const infowindow = new google.maps.InfoWindow();
  const infowindowContent = document.getElementById(type+ "-infowindow-content");

  infowindow.setContent(infowindowContent);

  const marker = new google.maps.Marker({
    map,
    anchorPoint: new google.maps.Point(0, -29),
  });

  autocomplete.addListener("place_changed", () => {
    infowindow.close();
    marker.setVisible(false);

    const place = autocomplete.getPlace();

    if (!place.geometry || !place.geometry.location) {
      // User entered the name of a Place that was not suggested and
      // pressed the Enter key, or the Place Details request failed.
      window.alert("No details available for input: '" + place.name + "'");
      return;
    }

    // If the place has a geometry, then present it on a map.
    if (place.geometry.viewport) {
      map.fitBounds(place.geometry.viewport);
    } else {
      map.setCenter(place.geometry.location);
      map.setZoom(17);
    }

    marker.setPosition(place.geometry.location);
    marker.setVisible(true);
    infowindowContent.children[type + "-place-icon"].src = place.icon;
    infowindowContent.children[type + "-place-name"].textContent = place.name;
    infowindowContent.children[type + "-place-address"].textContent = address;
      place.formatted_address;
    infowindow.open(map, marker);

    // $("#" + type + "_lat").val(place.geometry.location.lat());
    //   $("#" + type + "_lng").val(place.geometry.location.lng());
  });

  // // Sets a listener on a radio button to change the filter type on Places
  // // Autocomplete.
  // function setupClickListener(id, types) {
  //   const radioButton = document.getElementById(id);

  //   radioButton.addEventListener("click", () => {
  //     autocomplete.setTypes(types);
  //     input.value = "";
  //   });
  // }

  // setupClickListener("changetype-all", []);
  // setupClickListener("changetype-address", ["address"]);
  // setupClickListener("changetype-establishment", ["establishment"]);
  // setupClickListener("changetype-geocode", ["geocode"]);
  // setupClickListener("changetype-cities", ["(cities)"]);
  // setupClickListener("changetype-regions", ["(regions)"]);
  // biasInputElement.addEventListener("change", () => {
  //   if (biasInputElement.checked) {
  //     autocomplete.bindTo("bounds", map);
  //   } else {
  //     // User wants to turn off location bias, so three things need to happen:
  //     // 1. Unbind from map
  //     // 2. Reset the bounds to whole world
  //     // 3. Uncheck the strict bounds checkbox UI (which also disables strict bounds)
  //     autocomplete.unbind("bounds");
  //     autocomplete.setBounds({ east: 180, west: -180, north: 90, south: -90 });
  //     strictBoundsInputElement.checked = biasInputElement.checked;
  //   }

  //   input.value = "";
  // });
  // strictBoundsInputElement.addEventListener("change", () => {
  //   autocomplete.setOptions({
  //     strictBounds: strictBoundsInputElement.checked,
  //   });
  //   if (strictBoundsInputElement.checked) {
  //     biasInputElement.checked = strictBoundsInputElement.checked;
  //     autocomplete.bindTo("bounds", map);
  //   }

  //   input.value = "";
  // });
}

function initMap() {
    initMapByType("pickup", pickupLat, pickupLng);
    initMapByType("delivery", deliveryLat, deliveryLng);
  }
       </script>
       
        {% endblock %}