{% extends 'base.html' %}
{% load bootstrap5 %}

{% block head %}
<style>


  #tabs a {
    color: black;
  }

  #tabs a:hover {
    color: orange;
    text-decoration: none;
  }

  #pills-tab a.active {
    color: orange;
  }

  #pickup-map,
  #delivery-map {
    height: 100%;
  }
</style>


{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
      <!-- LEFT SIDE -->
      <div class="col-lg-4">
        <div class="card">
          <div class="card-header">
            JOB SUMMARY
          </div>

          <div class="card-body">
            {% if not job %}
            <p>A summary of your job information will appear here</p>
            {% else %}
            <h4>{{job.name}}</h4>
            <span>{{ job.quantity }} Item</span><br/>
            <span>{{ job.get_size_display }} Job</span>
            {% endif %}

            </div>
            </div>
        </div>
        <!-- RIGHT SIDE -->
        <div class="col-lg-8">

            <!-- Steps tabs -->
            <div class="card mb-5">
              <div class="card-body">
                <ul class="nav nav-tabs nav-justified align-center  " id="myTab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class=" {% if step == 1 %}active {% endif %}" id="home-info-tab" data-bs-toggle="tab" data-bs-target="#home-info"  role="tab" aria-controls="home-info" aria-selected="true">Item info</button>
                  </li>
                  <i class="fas fa-chevron-right"></i>
                  <li class="nav-item" role="presentation">
                    <button  class=" {% if step == 2 %}active {% endif %}" id="pickup-tab" data-bs-toggle="tab" data-bs-target="#pickup" type="button" role="tab" aria-controls="pickup" aria-selected="false">Pickup</button>
                  </li>
                  <i class="fas fa-chevron-right"></i>
                  <li class="nav-item" role="presentation">
                    <button  class=" {% if step == 3 %}active {% endif %}" id="delivery-tab" data-bs-toggle="tab" data-bs-target="#delivery" type="button" role="tab" aria-controls="delivery" aria-selected="false">Delivery</button>
                  </li>
                  <i class="fas fa-chevron-right"></i>
                  <li class="nav-item" role="presentation">
                    <button  class=" {% if step == 4 %}active {% endif %}" id="payment-tab" data-bs-toggle="tab" data-bs-target="#payment" type="button" role="tab" aria-controls="payment" aria-selected="false">Payment</button>
                  </li>
                </ul>
      
                  </div>
                </div>
                <!-- Steps forms -->
                <b>CEATE A JOB</b>
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade  {% if step == 1 %}show active {% endif %} id="home-info" role="tabpanel" aria-labelledby="home-info-tab">
                    <h1>Item info</h1>

                    <form method="POST" enctype="multipart/form-data">
                      <b class="text-secondary">Item information</b><br/>
                      <div class="card bg-white mt-2 mb-5">
                        <div class="card-body">
                          {% csrf_token %}
                          {% bootstrap_form step1_form %}
                        </div>
                      </div>
                      <input type="hidden" name=step value="1">
                      <button type="submit" class="btn btn-dark">Save&continue</button>
                    </form>
                  </div>



                  <div class="tab-pane fade  {% if step == 2 %}show active {% endif %}" id="pickup" role="tabpanel" aria-labelledby="pickup-tab">
                    <h1>Pickup</h1>

                    <form method="POST" enctype="multipart/form-data">
                      <b class="text-secondary">pickup information</b><br/>
                      <div class="card bg-white mt-2 mb-5">
                        <div class="card-body">
                          {% csrf_token %}
                          {% bootstrap_form step2_form %}
                        </div>
                      </div>
                      <input type="hidden" name=step value="2">
                      <button type="button" class="btn btn-outline-dark"
                        onclick="$('#home-info-tab').tab('home-info');">Back</button>
                      <button type="submit" class="btn btn-dark">Save&continue</button>
                    </form>


                  </div>
                  <div class="tab-pane fade  {% if step == 3 %}show active {% endif %} " id="delivery" role="tabpanel" aria-labelledby="delivery-tab">
                    <h1>Delivery</h1>
                  </div>
                  <div class="tab-pane fade  {% if step == 4 %}show active {% endif %} " id="payment" role="tabpanel" aria-labelledby="payment-tab">
                    <h1>payment</h1>
                  </div>
                </div>
        </div>
       </div>
       
       
       </div>
       
        {% endblock %}